<h1>Listado de pacientes</h1>

<div class="page-header">
  <h2>Listado de pacientes</h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Paciente</th>
      <!--<th>Edad</th>
      <th>Sexo</th>
      <th>Lecturas</th>-->
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><strong><%= patient.code %></strong></td>
        <!--<td><%= patient.age %></td> 
        <td><%= patient.sex %></td> -->
        <td>
          <%= study_button15(patient,'1.5T') %>
        </td>
		<td><%=link_to "mostrar reportes", patient_reports_path(patient ,equipment: "1.5T",banddob: "false",label:patient.code), class: 'btn btn-primary enabled' %></td>
		
	</tr>
	<% end %>

	<!-- LECTURA DE 3T -->
	<%@code3T=*(31..60)%>
	
    <% @code3T.each do |cod| %>
	<tr>
			<%patienti=Patient.find_by_cod3t(cod)%>
			<td><strong><%= "S#{patienti.cod3t}" %></strong></td>
          <td>	<%= study_button3(patienti,'3T') %></td>
		  <td><%=link_to "mostrar reportes", patient_reports_path(patienti ,equipment: "3T",label:"S#{patienti.cod3t}",banddob:"true"), class: 'btn btn-primary enabled' %></td>
        
      </tr>
    <% end %>
	
	<!--LECTURA DUPLICADA-->
	<%@numdop=*(0..29)%>
	<%@numdop.each do |cod| %>
	<tr>
		<%@outputdata=duplicate_read(cod)%>	
		<td><strong><%="S#{cod+61}"%></strong></td>
		<%if @outputdata[2]=="true"%>
		<td><%=link_to "S#{cod+61}", new_patient_report_path(@outputdata[0], equipment:@outputdata[1], label:"S#{cod+61}", bandob:"true"), class: 'btn btn-primary enabled'%></td>
		<%else%>
		<td><%= content_tag(:button, "S#{cod+61}", class: 'btn disabled')%></td>
		<%end%>
		<td><%=link_to "mostrar reportes", patient_reports_path( @outputdata[0],equipment: @outputdata[1],label:"S#{cod+61}",banddob:"true"), class: 'btn btn-primary enabled' %></td>
	</tr>
	<%end%>
	
	
	
  </tbody>
</table>
